.btn {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    padding: 22px 115px 17px 115px;
    border-radius: 100px;
    box-sizing: border-box;
    min-width:  380px;
   

    &-outline {
        border: 3px solid #00A662;
    }

    &-green {
        background: #00A662;
        box-shadow: 10px 30px 100px rgba(0, 0, 0, 0.2);
    }



}

button {
    border: none;
    outline: none;
    cursor: pointer;
}



@media only screen and (min-width: 1024px) and (orientation: portrait) {


}