    
    .prev-btn {
        background: url('../images/icons/chooser-arrow.svg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 16px;
        height: 32px;
        cursor: pointer;
    }





